<a href="https://colab.research.google.com/github/leeyunseok110/2025-1-myclass-BDA/blob/main/inclass/11w_A_mon_0526_easy_ch09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10주차: 09장 데이터분석 프로젝트

In [48]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [49]:
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus = False)

In [50]:
pd.set_option('display.precision', 2)

In [51]:
%config InlineBackend.figure_format = 'retina'

In [52]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.11/dist-packages (1.2.9)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)

In [53]:
raw_welfare = pd.read_spss('data/Koweps_hpwc14_2019_beta2.sav')
raw_welfare

ReadstatError: Unable to convert string to the requested encoding (invalid byte sequence)

In [10]:
raw_welfare.info()

NameError: name 'raw_welfare' is not defined

In [11]:
welfare = raw_welfare.copy()
welfare.shape

NameError: name 'raw_welfare' is not defined

In [12]:
welfare = welfare.rename(columns= {'h14_g3': 'sex',
                                   'h14_g4': 'birth',
                                   'h14_g10': 'marriage_type',
                                   'h14_g11': 'religion',
                                   'p1402_8aq1': 'income',
                                   'h14_eco9': 'code_job',
                                   'h14_reg7': 'code_region'})
welfare['sex']

NameError: name 'welfare' is not defined

In [13]:
welfare.birth.dtypes

NameError: name 'welfare' is not defined

In [14]:
welfare.birth.isna().sum()

NameError: name 'welfare' is not defined

In [15]:
welfare.sex.isna().sum()

NameError: name 'welfare' is not defined

In [16]:
welfare['sex'] = np.where(welfare.sex == 1, 'male', 'female')
welfare['sex'].value_counts

NameError: name 'welfare' is not defined

In [17]:
welfare.sex.value_counts()

NameError: name 'welfare' is not defined

In [18]:
plt.rcParams.update({'figure.figsize': [5, 3] })

In [19]:
sns.countplot(welfare, x='sex');

NameError: name 'welfare' is not defined

In [20]:
sns.countplot(welfare, x='sex', hue='sex');

NameError: name 'welfare' is not defined

In [21]:
welfare.income.dtypes

NameError: name 'welfare' is not defined

In [22]:
welfare.income.describe()

NameError: name 'welfare' is not defined

In [23]:
welfare.income.isna().sum()

NameError: name 'welfare' is not defined

In [24]:
sns.histplot(welfare, x='income');

NameError: name 'welfare' is not defined

In [25]:
sex_income = welfare.dropna(subset = ['income']) \
                    .groupby('sex', as_index=False) \
                    .agg(mean_income = ('income', 'mean'))
sex_income

NameError: name 'welfare' is not defined

In [26]:
sex_income2 = welfare.groupby('sex', as_index=False) \
                     .agg(mean_income = ('income', 'mean'))
sex_income2

NameError: name 'welfare' is not defined

In [29]:
sns.barplot(sex_income, x='sex', y='mean_income');

NameError: name 'sex_income' is not defined

In [30]:
sns.barplot(sex_income, x='sex', y='mean_income', hue='sex');

NameError: name 'sex_income' is not defined

## 나이와 월급의 관계

In [31]:
welfare.birth.describe()

NameError: name 'welfare' is not defined

In [32]:
sns.histplot(welfare, x='birth');

NameError: name 'welfare' is not defined

In [33]:
welfare.birth.isna().sum()

NameError: name 'welfare' is not defined

In [34]:
welfare[welfare.birth == 9999]

NameError: name 'welfare' is not defined

In [35]:
welfare = welfare.assign(age = 2019 - welfare['birth'])
welfare.age.describe()

NameError: name 'welfare' is not defined

In [36]:
sns.histplot(welfare, x='age');

NameError: name 'welfare' is not defined

In [37]:
age_income = welfare.dropna(subset = ['income']) \
                    .groupby('age') \
                    .agg(mean_income = ('income', 'mean'))
age_income

NameError: name 'welfare' is not defined

In [38]:
age_income.head()

NameError: name 'age_income' is not defined

In [39]:
sns.lineplot(age_income, x='age', y='mean_income');

NameError: name 'age_income' is not defined

In [40]:
welfare = welfare.assign(ageg = np.where(welfare['age'] < 30, 'young',
                                np.where(welfare['age'] <= 59, 'middle', 'old')))
welfare.ageg.value_counts()

NameError: name 'welfare' is not defined

In [41]:
sns.countplot(welfare, x='ageg', hue='ageg');

NameError: name 'welfare' is not defined

In [42]:
ageg_income = welfare.dropna(subset = ['income']) \
                    .groupby('ageg', as_index=False) \
                    .agg(mean_income = ('income', 'mean'))
ageg_income

NameError: name 'welfare' is not defined

In [43]:
sns.barplot(ageg_income, x='ageg', y='mean_income');

NameError: name 'ageg_income' is not defined

In [44]:
sns.barplot(ageg_income, x='ageg', y='mean_income', order= ['young', 'middle', 'old']);

NameError: name 'ageg_income' is not defined

### 10주차 종료

# 11주차 9-5, 5/26(월) 수업 시작

## 연령대 및 성별 월급 차이

In [45]:
sex_income = welfare.dropna(subset = ['income']) \
                    .groupby(['ageg', 'sex'], as_index=False) \
                    .agg(mean_income = ('income', 'mean'))
sex_income

NameError: name 'welfare' is not defined